<!DOCTYPE html>
<html lang="en">
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Contact</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascript/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index2.css">
</head>
<body>

	

	<h4 class="first">
		Please contact us with any questions, comments or to plan your next event.
		Call, email, or use the form at right.
	</h4>

	<div class="contact">
		<h3>Offic Hours</h3>
		<h4>Mon-Sun 5pm-2am</h4>
		<h3>Contact Us</h3>
		<h4>215-985-4800</h4>
		<h3>Address</h3>
		<h4>1315 Sansom St, Philadelphia, PA 19107</h4>
		<h4>Email Us</h4>
		<h3>tim@timerestaurant.net</h3>
	</div>

	<form method="POST" action="/sign-in">   
		<label for="name">Name</label> <br> 
		<input type="text" name="name"> 
		<br>  
		<label for="company">Company</label> <br>
		<input type="company" name="company"> <br>
		<label for="email">Email</label> <br>
		<input type="email" name="email"> <br>
		<label for="comments">Comments</label> <br> 
		<input type="comments" name="comments"><br>   
		<input type="submit"> 
	</form>


</body>
</html>