<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/png" href="https://iweg.s3.amazonaws.com/public/uploads/organization/image/3/IWEG_FINAL_FILES_Favicon.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/index3.css">
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
	<div class="appetizers">
		<h2>APPETIZERS</h2>
		<h3>Vegetables MP</h3>
		<h5>Daily Preparation</h5>
		<h3>Kale & Fall Squash 11</h3>
		<h5>Warm Bacon Miso Vinaigrette, Parmesan, Pepita</h5>
		<h3>Oysters on the Half Shell MP</h3>
		<h5>half dozen</h5>
		<h3>Grilled Octopus 16</h3>
		<h5>Crispy Potatoes, Chick Peas,Giardiniera, Smoked Paprika Aioli</h5>
		<h3>French Onion Bone Marrow 14</h3>
		<h4>Brioche, Caramelized Onion, Gruyere, Arugula</h4>
		<h3>Duck Prosciutto 12</h3>
		<h5>Melon, Parmesan, Arugula, Pickled Red Onion</h5>
		<h3>Artisan Cheese Plate 16</h3>
		<h5>Seasonal Accompaniments</h5>
	</div>
<br>
<br>
	<div class="entrees">
		<h2>ENTREES</h2>
		<h3>Stuffed Squash 18</h3>
		<h5>Sourdough, Wheat Berries, Mushrooms, Sage Gravy</h5>
		<h3>Pumpkin Casarecce & Pork 22</h3>
		<h5>Sage Butter, Apple, Mushrooms, Arugula</h5>
		<h3>Hanger Steak 26</h3>
		<h5>Sweet Potato Gratin, Brussels Sprouts, Bourbon</h5>
		<h3>Duck Leg Confit 23</h3>
		<h5>Ricotta Dumplings, Swiss Chard, Figs, Honey</h5>
		<h3>Half Chicken & Waffles 24</h3>
		<h5>Spinach Fontina Roulade, Cranberry Sauce</h5>
		<h3>Seafood Stew 29</h3>
		<h5>Crab, Scallops, Mussels, Clams, Shrimp,Calamari, Spicy Tomato Broth, Olives, Capers</h5>
	</div>
<br>
<br>
	<div class="menu">
		<h2>BAR MENU</h2>
		
		<h3>Deviled Eggs 5</h3>
		<h5>Bacon Bits</h5>

		<h3>Crostini  11</h3>
		<h5>Smoked Salmon, Spicy Pickle Remoulade</h5>
		
		<h3>Risotto Balls  9</h3>
		<h5>Wild Mushroom, Truffle Emulsion</h5>
		
		<h3>Crostini  11</h3>
		<h5>smoked salmon, spicy pickle remoulade</h5>

		<h3>Risotto Balls  9</h3>
		<h5>wild mushroom, truffle emulsion</h5>

		<h3>Shrimp 'N Grits 12<h3>
		<h5>cheesey grits, red pepper hot sauce</h5>

		<h3>House Made Sausage  8</h3>
		<h5>seasonal accompaniments</h5>

		<h3>Chicken Wings 9</h3>
		<h5>hot sauce, celery, blue cheese</h5>

		<h3>Caesar Salad 10</h3>
		<h5>baby romaine, crouton, egg, parmesan
		add grilled chicken 6</h5>

		<h3>Mac & Cheese 11</h3>
		<h5>pork belly, mezze rigatoni, white cheddar, fontina</h5>

		<h3>PEI Mussels 12</h3>
		<h5>white wine, garlic, herbs, sourdough</h5>

		<h3>Fried Chicken Sandwich 13</h3>
		<h5>bacon jam, asian slaw, remoulade, fries</h5>

		<h3>The Burger  13</h3>
		<h5>house made bacon, jack cheese, caramelized onions, fries
		add fried egg 2</h5>
	</div>
	<div class="bottom">
		<h5>French Fries  5</h5>
		<h5>Executive Chef - Mackenzie Hilton</h5>
		<h5>Sous Chef - Angel Marrufo</h5>
		<h6>Aaron Kentch, James Gaffield,
		Lucas Artiga, Ruben Popoca</h6>
		

		<span style="font-size: 10px;">Consuming raw or undercooked eggs, beef, lamb, milk products, pork, poultry, seafood or shellfish may increase your chances of food borne illness
		</span>
	</div>
</body>
</html>