<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>tab title</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="javascript/index.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
	
		  <body>


    <div id="main">
        
        
        <div id="header">
        
        
        </div><!--end header -->
        
        
        
      
        <div id="nav">
    
        
        </div><!--end nav-->
        
        
        
            
        <div id="content">
        
        
        </div><!--end content-->
        
        
            
        
    </div><!--end main-->
    
    </body>
    	
</html>